# INDmoney Live Market Quota API Token (optional but required for live LTP updates)
INDSTOCKS_TOKEN="eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRJRCI6IkFHUE9SIiwiZXhwIjoxNzcyODQ3MDAwLCJpYXQiOjE3NzI3NDg3OTIsImlzcyI6ImluZG1vbmV5IiwicGFydG5lcklEIjozOTM5LCJ0b2tlbklEIjozOTAzfQ.EfA00k2y-F2i36PDRJFiazi1kHff8U3UHpn3uArMLS8ercOcLQHfQBGr4zspU2zRlUZ9CW7G48E8FsmRsmxF0w"
TELEGRAM_BOT_TOKEN="8687383261:AAHeEb2XYNEdL95zlQ-0vbwKnCoWSuE1qgQ"
TELEGRAM_CHAT_ID="403302127"