# INDmoney Live Market Quota API Token (optional but required for live LTP updates)
INDSTOCKS_TOKEN="yeyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRJRCI6IkFHUE9SIiwiZXhwIjoxNzcyNTAxNDAwLCJpYXQiOjE3NzI0NzcyMzgsImlzcyI6ImluZG1vbmV5IiwicGFydG5lcklEIjozNzk0LCJ0b2tlbklEIjozNzU4fQ.AIQyknYi-8I-_3PVz7R9YMBnIUmfqERhrX0lgE6G2aoujUZiyozcV-Tdbp3UTycESoBkRSiNrUoAbFlpbdrdCw"
TELEGRAM_BOT_TOKEN="8687383261:AAHeEb2XYNEdL95zlQ-0vbwKnCoWSuE1qgQ"
TELEGRAM_CHAT_ID="403302127"